

.example-block {
    transition: background 0.4s ease-out;
    position: relative;
    display: inline-block;
    height: auto;
    padding: 0px 15px;
}

.example-block:hover {
    cursor: pointer;
    animation: levitate 1s ease-in-out infinite
}

@keyframes levitate {
    0% {
        transform: translate(0, 0px)
    }

    50% {
        transform: translate(0, -9px)
    }

    100% {
        transform: translate(0, 0px)
    }
}

.example-block .image {
    transition: ease-in-out, transform 0.4s ease-in- out
}

.example-block:hover .image {
    transform: scale(1.8)
}

.input-hidden {
    position: absolute;
    left: -9999px
}

input[type=radio]:checked+label>img {
    animation: levitate 0.5s ease-in-out infinite;
    transform: scale(2.0)
}

input[type=radio]+label>img {
    transition: 500ms all
}

